img{display: none;}
header{background-color: #B3B3B3;}
h1{text-transform: uppercase;text-align: center; color: #FFFFFF}
a{color: black;background: #666666}
main{background-color: grey; text-align: left;;}
h2{color:#00b7ea;text-transform: uppercase;}
